@page "/mailHistory"
@using MailingProject.Client.ViewModels
@inject IMailViewModel _mailViewModel

<h3>Mail</h3>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0
/css/font-awesome.min.css" rel="stylesheet">

<style>
    .sort-th {
        cursor: pointer;
    }

    .fa {
        float: right;
    }

    .btn-custom {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 2px solid #000;
        margin: 0px 5px 0px 5px;
    }
</style>



@if (_mailViewModel.mailCollection.Equals(null))
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="sort-th"> From  </th>
                <th class="sort-th"> To </th>
                <th class="sort-th"> CC </th>
                <th class="sort-th"> Subject </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (_mailViewModel.mailCollection == null)
            {
                <tr>
                    <td colspan="3">No Records to display</td>
                </tr>
            }
            else
            {
                foreach (var mail in _mailViewModel.mailCollection)
                {
                    <tr>
                        <td>@mail.From</td>
                        <td>@mail.To</td>
                        <td>@mail.CC</td>
                        <td>@mail.Subject</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}


@code {


    protected override async Task OnInitializedAsync()
    {
        await _mailViewModel.getAllMails();
    }
}
